# Ignore sensitive information for DB connection
**/includes/DatabaseConfig.py

# Ignore pycharm files
.idea

$ Ignore pycache
__pycache__/
includes/__pycache__/DatabaseConfig.cpython-37.pyc

$ Ignore venv
venv/
